<div class="panel panel-primary">
  <div class="panel-heading" ng-click="collapse()">
    <h3 class="panel-title">{{user.name}}</h3>
  </div>
  <div class="panel-body" ng-hide="collapsed">
    <h5 class="headingWord">Welcome</h5>
    <hr>
    <h5>User info</h5>
    <span>
      <ul>
        <li>Username: {{user.username}}</li>
        <li>Email: {{user.email}}</li>
        <li>Gender: {{user.gender}}</li>
      </ul>
      <div ng-show="!!user.rank">
        <h6>Rank : {{user.rank}}</h6> 
        <button ng-click="editProfile()">Edit profile <i class="fas fa-quidditch"></i></a>
      </div>
      <button ng-show="!user.rank" class="btn btn-success" ng-click="rankUp(user)">Rank Up</button>
    </span>
    
  </div>
</div>


