body {
  background-color: #222255;
}

nav.navbar {
  border: none;
  background-color: #111122;
  padding: 15px 15px;
  font-size: 1.3em;
  margin-bottom: 2em;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 25px;
  text-transform: uppercase;
}

.menu.navbar-items {
  font-size: 0.9em;
  display: inline-block;
}

.menu.navbar-items:hover {
  text-decoration: underline;
}

.link {
  font-size: 18px;
  color: #000;
}

.link:link, .link:visited {
  background-color: #aa3355;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link:hover, .link:active {
  background-color: #ee0033;
  color: #000;
}