body {
  background-color: #222255;
}

nav.navbar {
  border: none;
  background-color: #111122;
  padding: 15px 15px;
  font-size: 1.3em;
  margin-bottom: 2em;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 25px;
  text-transform: uppercase;
}

.menu.navbar-items {
  font-size: 0.9em;
  display: inline-block;
}

.menu.navbar-items:hover {
  text-decoration: underline;
}

button {
  margin-top: 8px;
}

devices-widget {
  text-align: center
}

.toaster {
  padding-top: 70px;
}

/*nav {*/
  /*width: 80%;*/
  /*margin: 0 auto;*/
  /*background: #fff;*/
  /*padding: 50px 0;*/
/*}*/
/*nav ul {*/
  /*list-style: none;*/
  /*text-align: center;*/
/*}*/
/*nav ul li {*/
  /*display: inline-block;*/
/*}*/

/*nav ul li a {*/
  /*display: block;*/
  /*padding: 15px;*/
  /*text-decoration: none;*/
  /*color: #aaa;*/
  /*font-weight: 800;*/
  /*text-transform: uppercase;*/
  /*margin: 0 10px;*/
/*}*/

/*nav ul li a,*/
/*nav ul li a:after,*/
/*nav ul li a:before {*/
  /*transition: all .5s;*/
/*}*/

/*nav ul li a:hover {*/
  /*color: #555;*/
/*}*/


/*!* stroke *!*/
/*nav.fill ul li a {*/
  /*position: relative;*/
/*}*/

/*nav.fill ul li a:after {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
  /*width: 0%;*/
  /*content: '.';*/
  /*color: transparent;*/
  /*background: #aaa;*/
  /*height: 1px;*/
/*}*/

/*nav.fill ul li a {*/
  /*transition: all 2s;*/
/*}*/

/*nav.fill ul li a:after {*/
  /*text-align: left;*/
  /*content: '.';*/
  /*margin: 0;*/
  /*opacity: 0;*/
/*}*/
/*nav.fill ul li a:hover {*/
  /*color: #fff;*/
  /*z-index: 1;*/
/*}*/
/*nav.fill ul li a:hover:after {*/
  /*z-index: -10;*/
  /*animation: fill 1s forwards;*/
  /*-webkit-animation: fill 1s forwards;*/
  /*-moz-animation: fill 1s forwards;*/
  /*opacity: 1;*/
/*}*/

