body {
  background-color: #222255;
}

nav.navbar {
  border: none;
  background-color: #111122;
  padding: 15px 15px;
  font-size: 1.3em;
  margin-bottom: 2em;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 25px;
  text-transform: uppercase;
}

.menu.navbar-items {
  font-size: 0.9em;
  display: inline-block;
}

.menu.navbar-items:hover {
  text-decoration: underline;
}

button {
  margin-top: 8px;
}

devices-widget {
  text-align: center
}

.toaster {
  padding-top: 70px;
}
