body {
  background-color: #222255;
}

nav.navbar {
  border: none;
  background-color: #111122;
  padding: 15px 15px;
  font-size: 1.3em;
}

.navbar-brand {
  font-size: 1.5em;
  margin-right: 25px;
  text-transform: uppercase;
}

.menu.navbar-items {
  display: block;
  text-align: left;
  width: 120px;
}

.menu.navbar-items:hover {
  text-decoration: underline
}

