body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed == paralax
        scroll == normal
    */
    background-attachment: fixed;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.25), 0 -10px 17px rgba(0, 0, 0, 0.22);
}

.pimg1 {
    background-image: url('/img/picturemain.jpeg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('/img/picturetwo.jpeg');
    min-height: 50%;
}

.pimg3 {
    background-image: url('/img/picturethree.jpeg');
    min-height: 72.3%;
}

.section {
    text-align: center;
    padding: 50px 80px 80px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.feedback {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.imageInfo {
    margin-top: 15px;
    font-size: 16px;
}

.imageInfo h2{
    font-weight: bold;
    margin-bottom: 10px;
}

#infoText {
    text-align: center;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.loginRegister {
    margin-top: 1.6em;
    justify-content: center;
    text-align: center;
    color: black;
    border: none;
    font-size: 16px;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-family: 'Monoton', cursive;
}

.ptext .border.trans {
    background-color: transparent;
}

.footer {
    padding: 60px 0;
    background: #111112;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .social {
    color: black;
}

.footer li, .footer a {
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}

.footer .title {
    margin-bottom: .5rem;
    font-size: 14px;
    color: #ccc;
    border-bottom: 1px solid #333;
}

@media screen and (max-width: 768px) {
    .footer .col-sm-3 {
        padding-bottom: 2rem;
    }
}

.inlineimg {
    padding-top: 10px; 
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: space-between;
}

/* 
button {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    height: 40px;
    width: 80px;
    background: transparent;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0;
    padding: 0;
} */

img {
    width: 18%;
    height: 18%;
    -webkit-box-shadow:
		0 1px 0 rgba(255,255,255,.2),
		inset 0 4px 5px rgba(0,0,0,.6),
		inset 0 1px 0 rgba(0,0,0,.6);
	-moz-box-shadow:
		0 1px 0 rgba(255,255,255,.2),
		inset 0 4px 5px rgba(0,0,0,.6),
		inset 0 1px 0 rgba(0,0,0,.6);
	box-shadow:
		0 1px 0 rgba(255,255,255,.2),
		inset 0 4px 5px rgba(0,0,0,.6),
		inset 0 1px 0 rgba(0,0,0,.6);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent) , to(rgba(250, 250, 250, 0.1)));
}


img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#showcase {
    font-size: 18px;
}

#showcase button {
    width: 150px;
    margin-top: 10px;
}

#showcase h2 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.showcase-left button {
    color: #30d374;
}

.showcase-right button {
    color: #6eb5ef;
}


#login-reg {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

#login-reg:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}
