<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Profile</h3>
        </div>
        <div class="panel-body" ng-repeat="info in user">
          <h4 class="headingWord">Profile</h4>
          <hr>
          <div profile-directive></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Application info</h3>
        </div>
        <div class="panel-body">
          <h4 class="headingWord">{{home.appName}} v{{home.appVersion}}</h4>
          <hr>
          <div class="well-sm">
            <h4>{{home.welcome}}</h4>
            <p>Description: {{home.appDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>